<!DOCTYPE html>
<html>
<head>
  <title>Customer Service</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <p/>
    <form id="formulario" method="POST" action="/scam_analysisejs/">
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="incident-date">Incident date</label>
          <input type="date" class="form-control" id="incident-date" name="date_of_trip" >
        </div>
        <div class="col-sm-6">
          <div class="form-check">
            <%if (p25==true){ %>
            <input class="form-check-input" type="checkbox" id="overpriced25" name="overpriced25" value="true" checked>
            <%} else if (p25==false){ %>
            <input class="form-check-input" type="checkbox" id="overpriced25" name="overpriced25" value="true" unchecked>
            <%} %>
            <label class="form-check-label" for="overpriced25">
              Overpriced trips >= 25%
            </label>
          </div>
          <div class="form-check">
            <%if (p50==true){ %>
            <input class="form-check-input" type="checkbox" id="overpriced50" name="overpriced50" value="true" checked>
            <%} else if (p50==false){ %>
            <input class="form-check-input" type="checkbox" id="overpriced50" name="overpriced50" value="true" unchecked>
            <%} %>
            <label class="form-check-label" for="overpriced50">
              Overpriced trips >= 50%
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <input class="form-control" id="pick-up-address" name="pickup_address" placeholder="Pick up address" >
        </div>
        <div class="col-sm-6">
          <button id="submit-button" class="btn btn-primary" type="submit">Submit</button>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <input class="form-control" id="drop-off-address" name="dropoff_address" placeholder="Drop off address" >
        </div>
        <div class="col-sm-6">
          <input id="clear-form-button" type="reset" class="btn btn-primary" name="clear_form" value="Clear form" >
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <input class="form-control" id="taxi-id" name="taxi_id" placeholder="Taxi ID" >
        </div>
      </div>
    </form>
    
    <table class="table">
      <thead>
        <tr className="data-row">
          <th>Date</th>
          <th>Pickup time</th>
          <th>Drop off time</th>
          <th>Est pick up time</th>
          <th>Est duration</th>
          <th>Pickup address</th>
          <th>Drop off address</th>
          <th>Taxi ID</th>
        </tr>
      </thead>
      <tbody>
        <tr class="data-row">
          <% trips.forEach(function(trip){
            for(let i = 0; i < trips.length; i++){
              let fecha1 = new moment.utc(trips[i].pickup_time);
              let fecha2= new moment.utc(trips[i].dropoff_time);
              let resta = moment.duration(fecha2.diff(fecha1)).get('minutes');
              let result = ((resta/moment.utc(trips[i].est_duration).format('mm'))-1)*100;
              trips[i].color = {result};
              
              if (trip.color.result >= 25&&trip.color.result < 50&&p25==true&&p50==true){ %>
                <tr bgcolor="#FFF000">
              <% } else if (trip.color.result >= 25 &&p25==true&&p50==false){ %>
                <tr bgcolor="#FFF000">
              <% } else if (trip.color.result >= 50 &&p25==true&&p50==true){ %>
                <tr bgcolor="#FF0000">
              <% } else if (trip.color.result >= 50 &&p25==false&&p50==true){ %>
                <tr bgcolor="#FF000">
              <% ; }} %>
              <td><%=moment.utc(trip.date_of_trip).format('YYYY-MM-DD')%></td>
              <td><%=moment.utc(trip.pickup_time).format('HH:mm:ss')%></td>
              <td><%=moment.utc(trip.dropoff_time).format('HH:mm:ss')%></td>
              <td><%=moment.utc(trip.est_pickup_time).format('HH:mm:ss')%></td>
              <td><%=moment.utc(trip.est_duration).format('HH:mm:ss')%></td>
              <td><%=trip.pickup_address%></td>
              <td><%=trip.dropoff_address%></td>
              <td><%=trip.taxi_id%></td>
            </tr>
          <%});%>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>