<!DOCTYPE html>
<html>
  <head>
    <title>Customer Service</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container mt-5">
      <form id="formulario" method="POST" action="/lost_and_foundejs/" >
            <div class="form-group">
              <label for="exampleInputEmail1">Incident date</label>
              <input id="date-of-trip" name="date_of_trip" type="date" class="form-control" value="<%=fil.date_of_trip?moment.utc(fil.date_of_trip).format('YYYY-MM-DD'):'';%>">
            </div>
            <div class="form-group">
              <label for="pick-up-address">Pick up address</label>
              <input id="pick-up-address" name="pickup_address" class="form-control" value="<%=fil.pickup_address%>" >
            </div>
            <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
        </form>
        
        <table class="table mt-4">
            <thead>
              <tr className="data-row">
                <th>Date</th>
                <th>Pickup time</th>
                <th>Pickup address</th>
                <th>Drop off address</th>
                <th>Taxi ID</th>
              </tr>
            </thead>
            <tbody>
              
              <tr class="data-row">
                <% trips.forEach(function(trip) {%>
                  <tr>
                    <td><%=moment.utc(trip.date_of_trip).format('YYYY-MM-DD')%></td>
                    <td><%=moment.utc(trip.pickup_time).format('HH:mm:ss')%></td>
                    <td><%=trip.pickup_address%></td>
                    <td><%=trip.dropoff_address%></td>
                    <td><%=trip.taxi_id%></td>
                  </tr>
                <%});%>
            </tbody>
          </table>
    </div>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>